body{
    background-image: url("ferrari");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p
{font-size: 35px;}
.botao{
    margin-left:90%;
    margin-top: -180px;



}
.texto{
text-align: center;
color: rgb(197, 12, 12);

}
.texto2{
    margin-left: 20%;
margin-top: 50px;
color: rgb(223, 0, 0);

}
.texto3{
text-align: center;
margin-top: 50px;
color: rgb(61, 63, 56);

}